html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset Buttons */
button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  text-decoration: none;
  text-indent: 0;
}

/* Reset Links */
a {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 35px 0;
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header-alt {
  background: #eceff1;
  border-bottom: 1px solid #bdbdbd;
}

.footer-alt {
  background: #eceff1;
  border-top: 1px solid #bdbdbd;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
}
h1 span {
  color: #03a9f4;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
article a, article section {
  display: flex;
  align-items: center;
  justify-content: center;
}
article a {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
article a .category-box {
  padding: 20px 21px 21px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
article a:hover .category-box {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: white;
}
article#category-panels {
  grid-template-columns: 1fr 1fr 1fr;
}
article section > div {
  text-align: center;
  width: 100%;
}
article section > div div {
  margin-bottom: 16vh;
}
article section > div div img {
  height: 60px;
  margin: 0 2.5vw;
}
article section > div hr {
  margin: 0 auto 16vh;
  border-top: 0;
  border-bottom: 1px solid #9e9e9e;
  width: 70%;
}
article section > div > img {
  width: 190px;
}

#category-1 {
  background: linear-gradient(to top, rgba(250, 250, 250, 0.95), rgba(250, 250, 250, 0.95)), url("images/web-application-coding.jpg") no-repeat center;
}
#category-1:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.75)), url("images/web-application-coding.jpg") no-repeat center;
}

#category-2 {
  background-image: linear-gradient(to top, rgba(250, 250, 250, 0.95), rgba(250, 250, 250, 0.95)), url("images/document-design-software.jpg");
}
#category-2:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.75)), url("images/document-design-software.jpg");
}

#category-3 {
  background-image: linear-gradient(to top, rgba(250, 250, 250, 0.95), rgba(250, 250, 250, 0.95)), url("images/portable-studio-instruments.jpg");
}
#category-3:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.75)), url("images/portable-studio-instruments.jpg");
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 15px;
  letter-spacing: 0.7px;
  margin-bottom: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding: 35px 0;
}
footer h6 {
  font-size: 15px;
}
footer h6 a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1078px) {
  h2 {
    font-size: 18px;
    letter-spacing: 0.92px;
  }
  h3 {
    font-size: 13px;
  }
}
@media screen and (max-width: 956px) {
  article section > div div {
    margin-bottom: 10vh;
  }
  article section > div div img {
    position: relative;
    margin: 0 2.5vh 5vh;
    bottom: -5vh;
  }
  article section > div hr {
    margin-bottom: 7.5vh;
  }
}
@media screen and (max-width: 870px) {
  .category-box {
    padding: 15px 16px 16px;
  }
}
@media screen and (max-width: 835px) {
  header, footer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  article {
    height: 68vh;
    top: 16vh;
    position: relative;
  }
  article#category-panels {
    grid-template-columns: 1fr;
  }
  article section > div div img {
    height: 45px;
  }
  article section > div > img {
    width: 90px;
  }
  article a .category-box {
    background: rgba(255, 255, 255, 0.975);
  }
  #category-1 {
    background: linear-gradient(to top, rgba(250, 250, 250, 0.65), rgba(250, 250, 250, 0.65)), url("images/web-application-coding.jpg") no-repeat center;
  }
  #category-2 {
    background-image: linear-gradient(to top, rgba(250, 250, 250, 0.65), rgba(250, 250, 250, 0.65)), url("images/document-design-software.jpg");
  }
  #category-3 {
    background-image: linear-gradient(to top, rgba(250, 250, 250, 0.65), rgba(250, 250, 250, 0.65)), url("images/portable-studio-instruments.jpg");
  }
}/*# sourceMappingURL=main.css.map */