html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset Buttons */
button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  text-decoration: none;
  text-indent: 0;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 35px 0;
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
}
h1 span {
  color: #03a9f4;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
article section {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
article section > div {
  margin: 0 auto;
  padding: 20px 21px 21px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
article section:hover > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#category-1 {
  background: linear-gradient(to top, rgba(250, 250, 250, 0.95), rgba(255, 255, 255, 0.95)), url("images/web-application-coding.jpg") no-repeat center;
}
#category-1:hover {
  background: linear-gradient(to top, rgba(250, 250, 250, 0.75), rgba(255, 255, 255, 0.95)), url("images/web-application-coding.jpg") no-repeat center;
}

#category-2 {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("images/document-design-software.jpg");
}
#category-2:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95)), url("images/document-design-software.jpg");
}

#category-3 {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("images/portable-studio-instruments.jpg");
}
#category-3:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95)), url("images/portable-studio-instruments.jpg");
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 15px;
  letter-spacing: 0.7px;
  margin-bottom: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding: 35px 0;
}
footer h6 {
  font-size: 15px;
}
footer h6 a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1078px) {
  h2 {
    font-size: 18px;
    letter-spacing: 0.92px;
  }
  h3 {
    font-size: 13px;
  }
}
@media screen and (max-width: 870px) {
  article section > div {
    padding: 15px 16px 16px;
  }
}/*# sourceMappingURL=main.css.map */